html, body, .scene, .scene .renderer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.scene {
    position: relative;
    color: #FFF;
}

.topLeftHud {
    position: absolute;
    top: 0px;
    left: 0px;
}

.topRightHud {
    position: absolute;
    top: 0px;
    right: 0px;
}

.bottomLeftHud {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.bottomRightHud {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.browsehappy {
    color: #000;
    margin: 0.2em 0;
    background: #ccc;
    padding: 0.2em 0;
}
